<div
  class="modal fade"
  id="deleteCategoryModal-<%= category.id %>"
  tabindex="-1"
  aria-labelledby="deleteCategoryModalLabel-<%= category.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="deleteCategoryModalLabel-<%= category.id %>"
        >
          Delete Category: <%= category.name %>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this category? Enter the category name
          "<%= category.name %>" to confirm:
        </p>
        <form
          action="/admin/category-management/delete/<%= category.id %>"
          method="POST"
          class="delete-category-form"
          data-id="<%= category.id %>"
        >
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="confirmationName"
              placeholder="Enter category name"
              required
            />
          </div>
          <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
