<div
  class="modal fade"
  id="editItemModal-<%= item.id %>"
  tabindex="-1"
  aria-labelledby="editItemModalLabel-<%= item.id %>"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editItemModalLabel-<%= item.id %>">
          Edit Item: <%= item.name %>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/admin/item-management/edit/<%= item.id %>"
          method="POST"
          class="edit-item-form"
          data-id="<%= item.id %>"
        >
          <div class="mb-3">
            <label for="itemCategory" class="form-label">Category</label>
            <select
              name="category_id"
              id="category_id"
              class="form-control"
              required
            >
              <% categories.forEach((category) => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label for="itemName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="<%= item.name %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="itemBrand" class="form-label">Brand</label>
            <input
              type="text"
              class="form-control"
              name="brand"
              value="<%= item.brand %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="itemPrice" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              name="price"
              value="<%= item.price %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="itemStock" class="form-label">Stock</label>
            <input
              type="number"
              class="form-control"
              name="stock_quantity"
              value="<%= item.stock_quantity %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="itemSize" class="form-label">Size</label>
            <input
              type="text"
              class="form-control"
              name="size"
              value="<%= item.size %>"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>
