<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>Add New Category</h2>
    <form action="/category-management/add" method="POST">
      <label for="name">Category Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" />
      <button type="submit">Add Category</button>
    </form>

    <ul>
      <% categories.forEach((category) => { %>
      <li>
        <strong><%= category.name %>:</strong>
        <small><%= category.description %></small>

        <form
          action="/category-management/edit/<%= category.id %>"
          method="POST"
        >
          <input
            type="text"
            name="name"
            placeholder="New name"
            value="<%= category.name %>"
          />
          <input
            type="text"
            name="description"
            placeholder="New description"
            value="<%= category.description %>"
          />
          <button type="submit">Submit Edit</button>
        </form>

        <form
          action="/category-management/delete/<%= category.id %>"
          method="POST"
        >
          <button type="submit">Delete Category</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <a href="/">Back to Home</a>
  </body>
</html>
